@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: SuperBubble;
    src: url("fonts/SuperBubble.woff2");
}

:root {
    --banner-color: #36a4b5;
}

html {
    height: 100vh;
}

body {
    position: relative;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 500;

    height: 100%;
    width: 100%;

    display: flex;
}

/* Styling the banner part */

.banner {
    flex: 0 0 40%;
    background: url("img/banner_jellyfish.jpg") center/cover;

    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 30px;
    
    font-family: SuperBubble;
    font-size: 3rem;

    margin-top: 20vh;
}

.logo img {
    width: 125px;
}

.attribution {
    text-align: center;
    margin: 0 0 10px;
}

.attribution a {
    color: inherit;
}

/* Styling the content part */

.content {
    --side-padding: 3vw;

    flex: 0 1 60%;

    padding: 0 var(--side-padding);

    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.info p {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2;
}

/* Adding margin-bottom to all paragraphs except the last one */
.info p:not(.info p:last-child) {
    margin-bottom: 1rem;
}

.info p em {
    font-style: italic;
}

.form-content {
    position: relative;

    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);

    /* Make the form block take up all the parent's width */
    margin: 2rem calc(-1 * var(--side-padding));
    padding: 2rem 0 2rem var(--side-padding);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-title {
    flex: 0 0 100%;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.form-field {
    flex: 1 0 50%;

    display: flex;
    flex-direction: column;
}

.form-field > label {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 1px;

    padding: 4px 0;
}

.form-field > input {
    outline: none;

    margin: 0 var(--side-padding) 10px 0;
    border: 2px solid #E5E7EB;
    border-radius: 4px;
    padding: 4px 0;
}

.form-field > input:focus {
    border: 2px solid var(--banner-color);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}

.form-field > input:focus:invalid {
    border: 2px solid red;
}

#message {
    color: red;

    font-family: Helvetica, sans-serif;
    font-size: 0.7rem;
    position: absolute;
    bottom: 20px;
    left: var(--side-padding);
}

.hidden {
    visibility: hidden;
}

.form-field > input.error {
    border: 2px solid red;
}

.submit-btn {
    color: #fff;
    font-family: inherit;
    font-weight: 700;
    font-size: 1rem;

    background-color: var(--banner-color);
    padding: 12px 40px;

    border: 2px solid var(--banner-color);
    border-radius: 8px;

    margin-bottom: 2rem;

    transition: all 0.3s ease;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: #fff;
    color: var(--banner-color);
}

.login a {
    text-decoration: none;
    color: var(--banner-color);
}

.login a:hover {
    text-decoration: underline;
}
