@import url("reset.css");

@font-face {
    font-family: SuperBubble;
    src: url("fonts/SuperBubble.woff2");
}

html {
    height: 100vh;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

    height: 100%;
    width: 100%;

    display: flex;
}

.banner {
    flex: 0 0 40%;
    background: url("img/banner_jellyfish.jpg") center/cover;

    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 30px;
    
    font-family: SuperBubble;
    font-size: 3rem;

    margin: 180px 0 0;
}

.logo img {
    width: 125px;
}

.attribution {
    text-align: center;
    margin: 0 0 10px;
}

.attribution a {
    color: inherit;
}
